<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumne</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block content%}

    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>COGNOM 1</th>
                <th>COGNOM 2</th>
                <th>CORREU</th>
                <th>CURS</th>
                <th>MÒDULS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.surname1 }}</td>
                <td>{{ student.surname2 }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.curs }}</td>
                <td>{{ student.modules }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="{% url 'students' %}">ENRRERE</a>
    
    {% endblock %}
</body>
</html>